.shimmer {
	opacity: .7;
	animation: shimmer-loading 1s linear infinite alternate;
}

.shimmer-image {
	width: 100%;
	height: 150px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.shimmer-content-wrapper {
	padding: 15px;
}

.shimmer-title {
	width: 90%;
	height: 15px;
	border-radius: 3px;
	margin-bottom: 5px;
}

.shimmer-price {
	width: 20%;
	height: 15px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.shimmer-text-wrapper {
	margin-bottom: 20px;
}

.shimmer-text {
	width: 100%;
	height: 10px;
	margin-bottom: 3px;
	border-radius: 3px;
}

.shimmer-text:last-child {
	margin-bottom: 0;
	width: 80%;
}

.shimmer-btn {
	width: 70%;
	height: 40px;
	margin: 0 auto;
	border-radius: 15px;
}

@keyframes shimmer-loading {
	0% {
		background-color: hsl(200, 20%, 70%);
	}

	100% {
		background-color: hsl(200, 20%, 95%);
	}
}